/build
/dist
*.spec
launch.json
__pycache__
config.json
config_sunyir.json
compile.bat
driver.py
pleiades.py
/jamais_vu
/output*
*.bat
LOG -*
*.txt
!requirements.txt
/logs
/driver
/pleiades_deconstructor
threadling.py
playground*.py
*.dms
/playground-*
.env
manifest.json